<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>music.title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" >
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/static/css/jplayerInit.css}" rel="stylesheet"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/static/js/jplayer/jplayer.playlist.min.js}" ></script>
    <script th:src="@{/static/js/jplayer/jquery.jplayer.min.js}" ></script>
    <script th:src="@{/static/js/jplayer/jplayerInit.js}" ></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">首页</a>
                </div>

                <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input class="form-control" type="text" />
                        </div> <button class="btn btn-default" type="submit">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </nav>

            <div class="row clearfix">
                <div class="col-md-4 column">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                music.title
                            </h3>
                        </div>
                        <div class="panel-body">
                            <span>作者：<a href="url?author_account="></a>author_name</span><br/>
                            <span>创建时间：<p th:text="">我是创建时间</p></span><br/>
                            <span th:if="">修改时间：update_time，修改人：last_author</span>
                            <!--copy-1-->
                            <div class="music-player">
                                <div class="info">
                                    <div class="left"> <a href="javascript:;" class="icon-shuffle"></a> <a href="javascript:;" class="icon-heart"></a> </div>
                                    <div class="center">
                                        <div class="jp-playlist">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="right"> <a href="javascript:;" class="icon-repeat"></a> <a href="javascript:;" class="icon-share"></a> </div>
                                    <div class="progress jp-seek-bar"> <span class="jp-play-bar" style="width: 0%"></span> </div>
                                </div>
                                <div class="controls">
                                    <div class="current jp-current-time">00:00</div>
                                    <div class="play-controls">
                                        <a href="javascript:;" class="icon-previous jp-previous" title="previous"></a>
                                        <a href="javascript:;" class="icon-play jp-play" title="play"></a>
                                        <a href="javascript:;" class="icon-pause jp-pause" title="pause"></a>
                                        <a href="javascript:;" class="icon-next jp-next" title="next"></a>
                                    </div>
                                    <div class="volume-level jp-volume-bar">
                                        <span class="jp-volume-bar-value" style="width: 0%"></span>
                                        <a href="javascript:;" class="icon-volume-up jp-volume-max" title="max volume"></a>
                                        <a href="javascript:;" class="icon-volume-down jp-mute" title="mute"></a>
                                    </div>
                                </div>
                                <div id="jquery_jplayer" class="jp-jplayer"></div>
                            </div>
                                <!--copy-2-->
                        </div>
                    </div>

                </div>
                <div class="col-md-8 column" >
                    <div class="panel panel-default">
                        <div class="panel-body" id="music_content">
                            <p th:utext="music.content">我是html内容</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
            <div class="row clearfix">
            <div class="col-md-12 column visible-md visible-lg">
                <nav class="navbar-fixed-bottom" role="navigation">
                    <p class="text-center">power by yc</p>
                </nav>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(
        $.ajax({
            url:'https://www.easy-mock.com/mock/5c17390abf8dda63f572abb7/vue-admin/api/article/detail',
            type:"GET",
            dataType:"json",
            success:function(result){
                var music = result.data;
                $( "#music_content" ).append($.parseHTML(music.content));
            }
        })
    )
</script>
</html>